@import url('https://fonts.googleapis.com/css?family=Cardo');
h1,h2, h3, h4, h5 {
    color: #58180D;
    font-family: 'Cardo', serif;
}
h4.factionlink {
    cursor: pointer;
}

h4 .logo {
    vertical-align: middle;
}
.releasetitle {
    color: #940000;
}

img.clock {
    width: 25px;
}
img.logo {
    width: 40px;
} 

img.hqpic {
    float: right;
    max-width: 300px;
}
img.map {
    max-width: 1000px;
} 

@media screen {
  html,
  body {
    background: #000;
    margin: 0;
    padding: 0;
    font-family: monospace;
  }
  body {
    background: #fff;
    background: url('bg.png');
  }
}

span .clock {
    vertical-align: middle;
}

div.factionbox {
    border-style: dashed;
    border-color: #E8A20C;
    overflow: hidden;
    padding: 5px;
}

div.recapbox {
    border-bottom: 1px solid #E8A20C;
    overflow: hidden;
    padding: 5px;
}

div.releasebox {
    font-family: consolas, monaco, monospace;
    font-size: 12px;
    border-left: 1px solid #00d4ff;
    overflow: hidden;
    padding: 5px;
    background-color: #001014;
    margin-bottom: 25px;
}

div.commentbox {
    border-left: 1px solid #00d4ff;
    overflow: hidden;
    padding: 5px;
    background-color: #001014;
    margin-bottom: 3px;
}

div.darker {
    background-color: #000810;
}

div.filebox {
    text-align: right;
    font-weight: bold;
    color: #00d4ff;
}

div.emailheader {
    overflow: hidden;
    padding: 5px;
    font-style: italic;
    color: #00d4ff;
}

div.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

li.enemy, li.friend {
    list-style: none;
}
li.friend {
    color: #00C000;
}
li.enemy {
    color: #C00000;
}

li.enemy::before {
    content: "\25bc\00a0\00a0";
}

li.friend::before {
    content: "\25b2\00a0\00a0";
}

.npc { 
    position: relative;
    text-decoration: underline #FFC600;
}

.npc span {
    display:none;
    border-style: dashed;
    border-color: #E8A20C;
    overflow: hidden;
    padding: 5px; 
}

.npc span img {
    width: 200px;
}

.npc:hover span {
    display:block;
    position:absolute;
    top:15;
    left:0;
    z-index:1000;
    width:auto;
    overflow:hidden;
}
